<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/list.svg">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>
